body{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color: #040509;
}

a{
    text-decoration: none;
    color:white;
}

ul{
    list-style-type: none;
}

.logo{
    width:200px;
    padding-top: 11px;
    padding-left: 15%;
    float: left;
}

a:link.proximity-header-logo{
    font-size: 22px;
    font-weight: bold;
    display: block
}

/* a:link.proximity-subheader-logo{
    
} */

.navbar-links{
    float:left
}

.navbar-links ul{
    padding-top:11px;
    /* width:466px; */ /*the size required for login */
    width: 500px; 
    padding-left: 400px
}

.navbar-links li{
    display: inline-block;
}

.navbar-links li a{
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    text-align: center;
    padding: 10px 14px;
}

.navbar-login{
    float:left;
    width: 100px;
    text-align: center;
}

.navbar-login p{
    padding-top: 5px;
    border: 4px solid gray;
}